.App {
  background-color: white;
  display: grid;
  place-items: center;
  padding-top: 36px;
}
img {
  width: 100%;
  height: auto;
}
.span_container {
  position: relative;
  /*relative en relacion a su posicion inicial y concerva su espacio*/
  background-color: black;
}
.span_container > span {
  position: absolute;/*se sale de su flujo y se posiciona respecto al ancestro mas cercano q este posicionado*/
  font-size: 38px;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.span_container span:nth-child(1){
  top: 6%;
}
.span_container span:nth-child(3){
  bottom: 6%;
}

